.navbar{
  background: #333;
}
.navbar-nav a{
  color: #FFF;
  font-weight: 700;
  float: left;
  padding: 16px 20px;
  margin: 0px;
}
.navbar-nav a:hover,
.navbar-nav a:active{
  background: #555;
  text-decoration: none;
}
#choose-file{
  width: 100%;
  margin: 100px 0px 40px;
  text-align: center;
}
#choose-file input[type="file"]#salle_file{
  display: initial;
  cursor: pointer;
}
#file-submit input{
  background: #00A63F;
  color: #FFF;
  font-weight: 700;
  padding: 10px 30px;
  border: none;
}
#file-submit input:hover,
#file-submit input:active{
  background: #098D3B;
}
.line{
  padding: 4px 0px;
  width: 100%;
  float: left;
  height: auto;
}
.line-black{
  background: #444;
  color: #FFF;
  font-weight: 700;
}
.line-gray{
  background: #CCC;
}
.line-top{
  margin: 50px auto 10px;

}
.line-bottom{
  margin: 20px auto 50px;
}
#error{
  padding: 20px;
  border: 2px solid #F00;
  margin-bottom: 30px;
}
#error h3{
  padding: 0px;
  margin: 0px 0px 20px;
}